<h1>Restaurants List</h1>
<div class="contrainer">
  <div class="row">
    <% @restaurants.each do |restaurant|  %>
      <div class="card w-25 p-3 m-2 col-12">
        <h2><%= restaurant.name %></h2>
        <%= restaurant.address %>
        <%= restaurant.category %>
        <%= restaurant.phone_number %>
      </div>
    <% end %>
  </div>
</div>
